<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Credit Card info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/profiles/<%=username%>/creditcard" method="POST" id="modal">
            <div class="form-group"> <!--Name-->
              <label for="card-name" class="col-form-label">Name:</label>
              <input name="name" type="text" class="form-control" id="card-name" required>
            </div>
            <div class="form-group"> <!--Surname-->
              <label for="card-surname" class="col-form-label">Surname:</label>
              <input name="surname" type="text" class="form-control" id="card-surname" required></input>
            </div>
            <div class="form-group"> <!--Number-->
                <label for="card-number" class="col-form-label">Card number:</label>
                <input name="cardNumber" type="text" class="form-control" id="card-number" maxlength="16" required></input>
            </div>
            <div class="form-group"> <!--Type-->
                <label for="card-type" class="col-form-label">Card Type:</label>
                <input name="cardType" type="text" class="form-control" id="card-type" readonly></input>
            </div>
            <div class="form-group"> <!--Expire date-->
                <label for="card-date" class="col-form-label">Expire date:</label>
                <input name="cardExpireDate" type="date" class="form-control" id="card-date" required></input>
            </div>
            <div class="form-group"> <!--CCV-->
                <label for="card-ccv" class="col-form-label">CCV:</label>
                <input name="cardCCV" type="text" class="form-control" id="card-ccv" maxlength="3" required></input>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="send-button">Send message</button>
        </div>
      </div>
    </div>
  </div>